<configuration><!-- Console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%C:%L][%t] %m%n</pattern>
        </encoder>
    </appender>
    <!-- INFO -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/info.log.%d{yyyy-MM-dd-HH}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%C:%L][%t] %m%n</pattern>
        </encoder>
    </appender>
    <!-- WARN -->
    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/warn.log.%d{yyyy-MM-dd-HH}.gz
            </fileNamePattern>
            <append>true</append>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%C:%L][%t] %m%n</pattern>
        </encoder>
    </appender>
    <!-- ERROR -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/error.log.%d{yyyy-MM-dd-HH}.gz
            </fileNamePattern>
            <append>true</append>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%p][%C:%L][%t] %m%n</pattern>
        </encoder>
    </appender>
    <!--<root level="INFO">-->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </root>
</configuration>
