<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.lfz.dao.BlogDao">
    <sql id="selectFields">
        id,
        title,
        real_content as realContent,
        show_content as showContent,
        create_time as createTime,
        update_time as updateTime
    </sql>
    <insert id="addBlog" useGeneratedKeys="true" keyProperty="id">
    	insert into blog (title,real_content,show_content)
    	values(#{title},#{realContent},#{showContent})
    </insert>
    <select id="queryAllBlog">
        select
        <include refid="selectFields"/>
        from blog
    </select>
    <select id="queryBlogById">
        select
        <include refid="selectFields"/>
        from blog where id=#{id}
    </select>
    <delete id="deleteBlogById">
    	delete from blog where id=#{id}
    </delete>
    <update id="updateBlog">
        UPDATE blog
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="realContent!=null">
                real_content=#{realContent},
            </if>
            <if test="showContent!=null">
                show_content=#{showContent},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>