
* { margin: 0; padding: 0 }
body { font: 12px "宋体", Arial, Helvetica, sans-serif; color: #756F71 }
img { border: 0; display: block }
ul { list-style: none; }
a:link, a:visited {text-decoration: none; color: #333;}
.left { float: left; }
.right { float: right; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.box{ width:1000px; margin:auto; overflow:hidden}
header { width: 1000px; margin: auto; height: 80px; position: relative; overflow: hidden }
#logo a { width:310px; height: 60px; margin: 10px 0 0 0; position: absolute; background: url(../img/logo.jpg) no-repeat; display: block }
nav { float: right; width: 100%; margin: 40px 0 0 0; text-align: right }
nav a { position: relative; display: inline-block; font-size: 18px; font-family: "", Arial, Helvetica, sans-serif; }
nav a:hover { text-decoration: none }
.topnav a { margin: 0 5px; padding: 0 8px; }
.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block; color: #999; font: 12px Georgia, serif; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }
#topnav_current { color: #e15782; }
.en { color: #999; font-size: 12px; z-index: 1; display: block; }/* ie */
article { width: 1000px; margin: 20px auto; overflow: hidden }
aside { width: 250px; }
footer { text-align: center; line-height: 40px; border-top: #E8E8E8 1px solid ; width:1000px; margin:0 auto;}
footer p span{padding-left:10px;color:#292627;}
footer p span a{color:#292627;}
.clear{clear:both;}
.banner { background: url(../img/b2.jpg) no-repeat;width:1000px;height:345px;margin:0 auto;overflow: hidden;border-radius:5px;position:relative;}
h2.title{color: crimson; }
/*wz*/
.bloglist { width: 1000px; overflow: hidden; background: url(../images/r_line.jpg) repeat-y right; }
.bloglist .wz{width:1000px;bodrder:1px solid red;}
.wz h1 { margin: 8px 0px 4px 2px; color:#D6533A;font-size: 20px}
.wz ul { float: left; width: 1000px; margin: 10px 0px 0 2px; line-height: 20px; font-size:20px}
.dateview { width: 695px; overflow: hidden; clear: both; margin: 10px 0 0 0; display: inline-block; background: #f6f6f6 url(../images/time.jpg) 1px center no-repeat; line-height: 26px; height: 26px; color: #838383; padding-left:8px }
.dateview span { margin: 0 10px; }
.dateview span a { color: #099B43; }
a.readmore { background: #fd8a61; color: #fff; padding: 5px 10px; float: right; margin: 20px 0 0 0;border-radius:3px; }
.gut(width:1000px)
.admin{dispaly: inline-block;text-align: center;}

.blogtitle{font-family: "微软雅黑";font-size:18px;float: left;}
/*end*/
/*markdown*/
#text {letter-spacing:2px;line-height:50px}