/*个人日记*/
.moodlist { margin: auto; width: 100%; overflow: hidden }
h1.t_nav span{ float:right; color:red}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 20px; font-weight: normal; line-height: 40px; height: 40px;margin:20px auto;width:1000px }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left }
.bloglist { width: 1000px; margin: 0 auto;repeat-y 764px 0;overflow: hidden; }
.arrow_box { background: #f8f8f8; box-shadow: 0 1px 0, inset 0px 1px 1px rgba(214, 214, 214, 0.7); width: 730px;  position: relative; padding: 20px 0; margin: 20px 0; }
.arrow_box img { width: 150px; float: left; margin: 0 20px 0 20px; }
.arrow_box p { line-height: 24px; padding: 0 20px 20px }
.arrow_box:hover { background: #f4f2f2; color: #333; text-shadow: #f7f7f7 1px 1px 1px }
.dateview { position: absolute; left: 788px; top: 20px; width: 125px; line-height: 30px; background: #5EA51B; border-radius: 0px 40px; text-align: center; color: #fff }

